/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('./Slike/rm218batch4-katie-17.jpg'); /* Replace with the actual image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h2 {
  margin-top: 20px;
  color: #fff;color: #fff;
}

p {
  margin: 5px 0;
  color: #fff;
}

.data-section {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  color: #fff;
}
